p, body {
  margin: 0;
}
p, a {
  font-size: 20px;
}
h1 {
  margin-bottom: 0px 0px 20px 0px;
  background-color: rgb(244, 79, 79);
  text-align: center;
  color: rgb(255, 255, 255);
}
#parent {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}
.contents {
  border: solid 3px rgb(238, 204, 204);
  flex-basis: 25%;
  border: 10px 15px;
  margin: 20px o;
  text-align: center;
  align-items: center;
}
.contents > h2 {
  font-size: 25px;
  border-bottom: dotted 3px rgb(236, 122, 122);
  font-size: 30px;
}
.contents h2::before {
  content: "●";
  color: rgb(239, 111, 139);
}
.contents :nth-of-type(2)::first-letter {
  color: rgb(97, 206, 249);
  font-weight: bold;
}
.contents  img {
  margin: 10px o;
  width: 70%;
}
footer {
  background-color: rgb(244, 79, 79);
  text-align: center;
}
footer a {
  color: rgb(255, 255, 255);
}
footer a:visited {
  color: rgb(193, 234, 251);
}
footer a:hover {
  color: rgb(245, 178, 168);
}
@media  screen and (max-width: 768px) {
  #parent {
    display: inline-block;
  }
  .contents h2 {
    font-size: 30px;
  }
  .contents p {
    font-size: 25px;
  }
}